<div>
    <!-- Contenido principal -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel"
        style="text-shadow: 1px 1px 2px rgb(100, 97, 97)">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img.jpg" class="d-block w-100"
                    alt="imagen muestra los diferentes productos sustentables que se ofrecen">
            </div>
            <div class="carousel-item">
                <img src="../assets/img2.jpg" class="d-block w-100"
                    alt="imagen con un texto que dice moda y belleza y ofertas imperdibles">
            </div>
            <div class="carousel-item">
                <img src="../assets/img3.jpg" class="d-block w-100"
                    alt="imagen que muestra articulos de construccion y ofertas de hasta el 20%">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  
</div>