<div class=" text-white text-center p-4  shadow" style="background-color: #ffee00;" id="inicio">
  <h1>SIMIL MERCADOFREE</h1>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">
      <img src="../assets/logo.png" alt="logo Angular" class="rounded-circle mb-3" width="100px">
    </a>
    <form class="form-inline mb-3">
      <input class="form-control-sm form-control-sm mr-sm-2 " type="search" placeholder="Buscar Productos" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0  mx-2" type="submit" routerLink="/producto">Buscar</button>
    </form>
  </div>
  
  <nav class="navbar navbar-expand-sm " style="background-color: hsl(59, 100%, 50%);" >
    <div class="container-fluid">

      <button class="navbar-toggler" style="background-color: hsl(59, 100%, 50%);" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"
        style="text-shadow: 2px 1px 2px rgb(252, 252, 251)">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/producto">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#servicio">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#institucion">Supermercado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Moda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>